In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pit
import seaborn as sns

In [2]:
raw_data = pd.read_csv('weatherstats_fortmcmurray_daily.csv')
raw_data.head()

,date,max_temperature,avg_hourly_temperature,avg_temperature,min_temperature,max_humidex,min_windchill,max_relative_humidity,avg_hourly_relative_humidity,avg_relative_humidity,...,avg_cloud_cover_4,min_cloud_cover_4,max_cloud_cover_8,avg_hourly_cloud_cover_8,avg_cloud_cover_8,min_cloud_cover_8,max_cloud_cover_10,avg_hourly_cloud_cover_10,avg_cloud_cover_10,min_cloud_cover_10
0,2024-09-26,14.9,10.58,9.94,5.0,NaN,NaN,96,78.9,74.0,...,3.5,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-09-25,20.7,14.39,14.70,8.7,NaN,NaN,90,69.2,71.0,...,4.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-09-24,22.4,15.40,15.35,8.3,NaN,NaN,97,66.0,65.5,...,3.5,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-09-23,15.2,10.64,10.14,5.1,NaN,NaN,99,93.7,87.5,...,4.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-09-22,18.9,12.23,11.89,4.9,NaN,NaN,95,73.9,73.0,...,3.5,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
raw_data.dropna(thresh=len(raw_data)- 3, axis=1)

,date,max_temperature,avg_hourly_temperature,avg_temperature,min_temperature,max_relative_humidity,avg_hourly_relative_humidity,avg_relative_humidity,min_relative_humidity,max_dew_point,...,min_uv_forecast,max_uv_forecast,min_high_temperature_forecast,max_high_temperature_forecast,min_low_temperature_forecast,max_low_temperature_forecast,max_cloud_cover_4,avg_hourly_cloud_cover_4,avg_cloud_cover_4,min_cloud_cover_4
0,2024-09-26,14.9,10.58,9.94,5.0,96,78.9,74.0,52,10.2,...,2,2,16,16,5,5,4,3.8,3.5,3
1,2024-09-25,20.7,14.39,14.70,8.7,90,69.2,71.0,52,11.2,...,3,3,23,23,8,9,4,4.0,4.0,4
2,2024-09-24,22.4,15.40,15.35,8.3,97,66.0,65.5,34,12.1,...,3,3,22,22,8,8,4,4.0,3.5,3
3,2024-09-23,15.2,10.64,10.14,5.1,99,93.7,87.5,76,12.3,...,2,2,17,17,9,11,4,4.0,4.0,4
4,2024-09-22,18.9,12.23,11.89,4.9,95,73.9,73.0,51,11.1,...,3,3,15,15,5,7,4,3.9,3.5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2024-06-23,23.3,17.45,17.35,11.4,94,65.1,69.5,45,16.0,...,4,6,23,23,12,13,4,1.9,2.0,0
96,2024-06-22,28.1,20.33,17.90,7.7,83,45.1,52.5,22,10.8,...,6,6,29,29,14,16,3,0.3,1.5,0
97,2024-06-21,26.8,19.00,16.80,6.8,74,42.4,47.5,21,9.1,...,5,5,26,26,11,12,1,0.1,0.5,0
98,2024-06-20,25.5,17.93,17.64,9.8,69,40.8,45.5,22,5.4,...,5,5,24,24,8,9,4,2.0,2.0,0
99,2024-06-19,22.1,14.01,13.50,4.9,75,52.0,51.5,28,6.8,...,5,5,21,21,8,8,4,2.5,2.0,0

In [4]:
raw_data.columns

Index(['date', 'max_temperature', 'avg_hourly_temperature', 'avg_temperature',
       'min_temperature', 'max_humidex', 'min_windchill',
       'max_relative_humidity', 'avg_hourly_relative_humidity',
       'avg_relative_humidity', 'min_relative_humidity', 'max_dew_point',
       'avg_hourly_dew_point', 'avg_dew_point', 'min_dew_point',
       'max_wind_speed', 'avg_hourly_wind_speed', 'avg_wind_speed',
       'min_wind_speed', 'max_wind_gust', 'wind_gust_dir_10s',
       'max_pressure_sea', 'avg_hourly_pressure_sea', 'avg_pressure_sea',
       'min_pressure_sea', 'max_pressure_station',
       'avg_hourly_pressure_station', 'avg_pressure_station',
       'min_pressure_station', 'max_visibility', 'avg_hourly_visibility',
       'avg_visibility', 'min_visibility', 'max_health_index',
       'avg_hourly_health_index', 'avg_health_index', 'min_health_index',
       'heatdegdays', 'cooldegdays', 'growdegdays_5', 'growdegdays_7',
       'growdegdays_10', 'precipitation', 'rain', 'snow', 'snow_on_ground',
       'sunrise_hhmm', 'sunrise_unixtime', 'sunrise_f', 'sunset_hhmm',
       'sunset_unixtime', 'sunset_f', 'daylight', 'min_uv_forecast',
       'max_uv_forecast', 'min_high_temperature_forecast',
       'max_high_temperature_forecast', 'min_low_temperature_forecast',
       'max_low_temperature_forecast', 'solar_radiation', 'max_cloud_cover_4',
       'avg_hourly_cloud_cover_4', 'avg_cloud_cover_4', 'min_cloud_cover_4',
       'max_cloud_cover_8', 'avg_hourly_cloud_cover_8', 'avg_cloud_cover_8',
       'min_cloud_cover_8', 'max_cloud_cover_10', 'avg_hourly_cloud_cover_10',
       'avg_cloud_cover_10', 'min_cloud_cover_10'],
      dtype='object')

In [7]:
mean = np.mean(raw_data)

TypeError: can only concatenate str (not "float") to str